body{
    font-family: 'poppins',sans-serif;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 1000px;
    margin: 0 auto;    
}
h1{
font-size: 40px;
font-family: 'Pacifico';
padding: 10px;
}
h2{
   background-color: gray;
    padding: 20px;
    margin-bottom: 10px;
    font-family: 'poppins',sans-serif;
}
